/* Google Font Link */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: #11101D;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}

.sidebar.open {
    width: 250px;
}

.sidebar .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar .logo-details .icon {
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
    opacity: 1;
}

.sidebar .logo-details #btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
    text-align: right;
}

.sidebar i {
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sidebar .nav-list {
    margin-top: 20px;
    height: 100%;
}

.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sidebar li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.open li .tooltip {
    display: none;
}

.sidebar input {
    font-size: 15px;
    color: #FFF;
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    width: 50px;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    background: #1d1b31;
}

.sidebar.open input {
    padding: 0 20px 0 50px;
    width: 100%;
}

.sidebar .bx-search {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    background: #1d1b31;
    color: #FFF;
}

.sidebar.open .bx-search:hover {
    background: #1d1b31;
    color: #FFF;
}

.sidebar .bx-search:hover {
    background: #FFF;
    color: #11101d;
}

.sidebar li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #11101D;
}

.sidebar li a:hover {
    background: #FFF;
}

.sidebar li a .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.sidebar.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
    transition: all 0.5s ease;
    color: #11101D;
}

.sidebar li i {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}

.sidebar li.profile {
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: #1d1b31;
    transition: all 0.5s ease;
    overflow: hidden;
}

.sidebar.open li.profile {
    width: 250px;
}

.sidebar li .profile-details {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.sidebar li img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .job {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
}

.sidebar li.profile .job {
    font-size: 12px;
}

.sidebar .profile #log_out {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #1d1b31;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
}

.sidebar.open .profile #log_out {
    width: 50px;
    background: none;
}

.home-section {
    position: relative;
    background: #E4E9F7;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

.sidebar.open~.home-section {
    left: 250px;
    width: calc(100% - 250px);
}

.home-section .text {
    align-items: center;
    color: #11101d;
    font-size: 25px;
    font-weight: 500;
    margin: 18px
}

@media (max-width: 600px) {
    .sidebar li .tooltip {
        display: none;
    }
}

@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,700");
body,
html {
    font-family: "Roboto", sans-serif;
    background-color: #cddade;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header {
    color: #202125;
    margin-bottom: 40px;
    h2 {
        font-weight: 600;
    }
    p {
        font-weight: 300;
    }
}

.wrapper {
    max-width: 1200px;
    min-width: 700px;
    margin: 0 auto;
    padding: 40px;
}

.gantt {
    display: grid;
    border: 0;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 75px 125px -57px #7e8f94;
    &__row {
        display: grid;
        grid-template-columns: 150px 1fr;
        background-color: #fff;
        &:nth-child(odd) {
            background-color: #f5f5f5;
            .gantt__row-first {
                background-color: #f5f5f5;
            }
        }
        &:nth-child(3) {
            .gantt__row-bars {
                border-top: 0;
            }
            .gantt__row-first {
                border-top: 0;
            }
        }
        &--empty {
            background-color: lighten(red, 25%) !important;
            z-index: 1;
            .gantt__row-first {
                border-width: 1px 1px 0 0;
            }
        }
        &--lines {
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: transparent;
            grid-template-columns: 150px repeat(12, 1fr);
            span {
                display: block;
                border-right: 1px solid rgba(0, 0, 0, 0.1);
                &.marker {
                    background-color: rgba(10, 52, 68, 0.13);
                    z-index: 2;
                }
            }
            &:after {
                grid-row: 1;
                grid-column: 0;
                background-color: #1688b345;
                z-index: 2;
                height: 100%;
            }
        }
        &--months {
            color: #fff;
            background-color: #0a3444 !important;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            grid-template-columns: 150px repeat(12, 1fr);
            .gantt__row-first {
                border-top: 0 !important;
                background-color: #0a3444 !important;
            }
            span {
                text-align: center;
                font-size: 13px;
                align-self: center;
                font-weight: bold;
                padding: 20px 0;
            }
        }
        &-first {
            background-color: #fff;
            border-width: 1px 0 0 0;
            border-color: rgba(0, 0, 0, 0.1);
            border-style: solid;
            padding: 15px 0;
            font-size: 13px;
            font-weight: bold;
            text-align: center;
        }
        &-bars {
            list-style: none;
            display: grid;
            padding: 9px 0;
            margin: 0;
            grid-template-columns: repeat(12, 1fr);
            grid-gap: 8px 0;
            border-top: 1px solid rgba(221, 221, 221, 0.8);
            li {
                font-weight: 500;
                text-align: left;
                font-size: 14px;
                min-height: 15px;
                background-color: #55de84;
                padding: 5px 12px;
                color: #fff;
                overflow: hidden;
                position: relative;
                cursor: pointer;
                border-radius: 20px;
                &.stripes {
                    background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255, 255, 255, .1) 5px, rgba(255, 255, 255, .1) 12px);
                }
                &:before,
                &:after {
                    content: "";
                    height: 100%;
                    top: 0;
                    z-index: 4;
                    position: absolute;
                    background-color: rgba(0, 0, 0, 0.3);
                }
                &:before {
                    left: 0;
                }
                &:after {
                    right: 0;
                }
            }
        }
    }
}